# Build and obj folders
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userprefs

# Rider, VS, VSCode settings
.idea/
.vs/
.vscode/

# NuGet packages
**/packages/
*.nupkg
# VS installer projects
*.msi
*.msm
*.msp

# Build results
*.dll
*.exe
*.pdb
*.log

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Rider caches
.idea/

# База данных
*.db

# Конфигурации с секретами  
appsettings.Development.json
appsettings.Production.json
appsettings.*.json

# НО базовый файл включаем
!appsettings.json
